<template>
  <div>
    <div class="inner-circle">
    </div>
    <div class="outer-circle">
      <div class="hand">
      </div>
    </div>
    <div class="timer">
      {{ time }}
    </div>
  </div>
</template>

<script>
export default {
  name: "CountDownTimer",
  data: () => ({
    time: 0,
  }),
  mounted() {
    setInterval(() => {
      if(this.time < 10) {
        this.time++
      } else {
       this.$emit('stopVideo', false)
      }
    }, 1080)
  }
}
</script>

<style scoped>
.hand {
  height: 50%;
  width: 0px;
  box-sizing: border-box;
  border: 1px solid black;
  top: 0%;
  left: 50%;
  position: absolute;
  transform-origin: bottom;
  /* of-course, would be 60s */
  animation: secondsMotion 10s infinite linear;
}

@keyframes secondsMotion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inner-circle {
  padding: 50px;
  background: #9bd1e5;
  position: absolute;
  top: 50%;
  opacity: .6;
  left: calc(50% - 50px);
  border-radius: 50%;
}

.outer-circle {
  padding: 45px;
  background: rgba(255, 255, 255, 0.36);
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% - 45px);
  border-radius: 50%;
}

.timer {
  position: absolute;
  top: 50%;
  left: calc(50% - 5px);
}
</style>
