<template>

  <v-btn
      class="d-flex justify-center align-center"
      block
      @click="toggleClick()"
      color="deep-orange lighten-1"
  >
    <h2 v-if="this.rec">End</h2>
    <h2 v-if="!this.rec">Start</h2>
  </v-btn>

</template>

<script>
export default {
  name: "StartStopButton.vue",
  data: () => ({
    rec: false,
  }),
  methods: {
    toggleClick() {
      this.rec = !this.rec;
      this.$emit('updateRecording', this.rec);
    }
  }
}
</script>

<style scoped>

h2 {
  color: white;
}
</style>
