<template>
  <div class="light-blue lighten-1 d-flex align-center"
       style="width: 100%; height: 25%; color: white; padding-left: 10px; padding-right: 10px;">
    <h3 v-if="!isChinese">{{this.selectedQuote.quote}}</h3>
    <h3 v-if="isChinese">{{this.selectedQuote.chinese}}</h3>
    <div class="ml-4 mt-5">
      <h5>{{this.selectedQuote.author}}</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TranslateCard',
  props: {
    isChinese: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    selectedQuote: {},
    quotes: [
      {
        "quote": "The best time to plant a tree was 20 years ago. The second best time is now.",
        "chinese": "Zhǒng shù zuì hǎo de shíjiān shì 20 nián qián. Dì èr gè zuì hǎo de shíjiān shì xiànzài.",
        "author": "Chinese Proverb"
      },
      {
        "quote": "An unexamined life is not worth living.",
        "chinese": "Wèi jīng shěnshì de shēnghuó bù zhídéguò.",
        "author": "Socrates"
      },
      {
        "quote": "Eighty percent of success is showing up.",
        "chinese": "Bǎi fēn zhī bāshí de chénggōng zhèngzài xiǎnxiàn.",
        "author": "Woody Allen"
      },
      {
        "quote": "Your time is limited, so don’t waste it living someone else’s life.",
        "chinese": "Nǐ de shíjiān shì yǒuxiàn de, suǒyǐ bùyào bǎ tā làngfèi zàiguò biérén de shēnghuó shàng.",
        "author": "Steve Jobs"
      },
      {
        "quote": "Winning isn’t everything, but wanting to win is.",
        "chinese": "Yíng bùshì yīqiè, dàn xiǎng yíng cái shì.",
        "author": "Vince Lombardi"
      },
      {
        "quote": "I am not a product of my circumstances. I am a product of my decisions.",
        "chinese": "Wǒ bùshì wǒ suǒ chù huánjìng de chǎnwù. Wǒ shì wǒ juédìng de chǎnwù.",
        "author": "Stephen Covey"
      },
      {
        "quote": "Every child is an artist.  The problem is how to remain an artist once he grows up.",
        "chinese": "Měi gè háizi dōu shì yìshùjiā. Wèntí shì tā zhǎng dà hòu rúhé bǎochí yìshùjiā shēnfèn.",
        "author": "Pablo Picasso"
      },
      {
        "quote": "You can never cross the ocean until you have the courage to lose sight of the shore.",
        "chinese": "Chúfēi nǐ yǒu yǒngqì kàn bù dào hǎi'àn, fǒuzé nǐ yǒngyuǎn wúfǎ chuānyuè hǎiyáng.",
        "author": "Christopher Columbus"
      },
      {
        "quote": "Either you run the day, or the day runs you.",
        "chinese": "Yàome nǐ pǎo yītiān, yàome yītiān pǎo nǐ.",
        "author": "Jim Rohn"
      },
    ]
  }),
  mounted() {
    this.randomSelect();
  },
  methods: {
    randomSelect(){
      const randQuote = Math.floor((Math.random() * this.quotes.length));
      this.selectedQuote = this.quotes[randQuote];
      this.$emit('quoteUpdate', this.selectedQuote.quote);
    }
  }
}
</script>
