<template>
  <v-dialog
      v-model="showPlay"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          style="display: none;"
      >
        Open Dialog
      </v-btn>
    </template>
    <v-toolbar
        dark
        color="primary"
        class="elevation-0"
    >
      <v-btn
          icon
          dark
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Translation</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
            dark
            text
        >
          Save
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <div class="blue lighten-5" style="height: 100%;">
      <video id="play-back" :src="showUrl" class="second-player" autoplay/>
      <div class="light-blue lighten-1 d-flex align-center text-justify"
           style="width: 100%; height: 25%; color: white; padding-left: 10px; padding-right: 10px;">
        <v-col>
          <h3>supposed to be: {{ updatedQuote }}</h3>

          <h3 class="mt-2" style="color: red;">ended up as: {{ englishTranny }}</h3>
        </v-col>

      </div>
    </div>
  </v-dialog>
</template>

<script>
export default {
  name: "VideoPlayBack",
  props: {
    showPlay: {
      type: Boolean,
      required: true
    },
    chunks: {},
    showUrl: {
      type: String,
      require: true
    },
    englishTranny: {},
    updatedQuote: {
      type: String,
      require: true,
    }
  },
  data: () => ({
    recorder: {},
    theStream: {},
    voices: [],
    msg: {},
    recordedChunks: [],
    constraints: {"video": {width: {max: window.innerWidth}}, "audio": true},
  }),
  mounted() {
    window.speechSynthesis.onvoiceschanged = () => {
      this.msg = new SpeechSynthesisUtterance();
      this.voices = window.speechSynthesis.getVoices();
    }
  },

  methods: {
    playSoundBack() {
      this.msg.voice = this.voices[0];
      this.msg.text = "in chinese you said:       " + this.englishTranny;
      window.speechSynthesis.speak(this.msg);
      this.msg.onend = () => {
          this.download();
      }
    },
    openVideo() {
      navigator.mediaDevices.getUserMedia(this.constraints)
          .then(this.gotMedia)
          .catch(e => {
            console.error('getUserMedia() failed: ' + e);
          });
    },
    gotMedia(stream) {
      this.theStream = stream;
      setTimeout(() => {
        this.recordVideo()
      }, 10)
    },
    recordVideo() {
      try {
        this.recorder = new MediaRecorder(this.theStream, {mimeType: "video/webm"});
      } catch (e) {
        console.error('Exception while creating MediaRecorder: ' + e);
        return;
      }
      this.recorder.ondataavailable =
          (event) => {
            this.recordedChunks.push(event.data);
          };
      this.recorder.start(100);
    },
    download() {
      this.recorder.stop();
      // can mux
      const combined = Object.assign(this.recordedChunks, this.chunks)
      this.theStream.getTracks().forEach(track => {
        track.stop();
      });
      var blob = new Blob(combined, {type: "video/webm"});
      var url = URL.createObjectURL(blob);
      var a = document.createElement("a");
      document.body.appendChild(a);
      a.style = "display: none";
      a.href = url;
      a.download = 'test.webm';
      a.click();
      // setTimeout() here is needed for Firefox.
      setTimeout(function () {
        URL.revokeObjectURL(url);
      }, 100);
    }
  },
  watch: {
    englishTranny(vis) {
      if (vis) {
        this.playSoundBack();
        this.openVideo();
      }
    }
  }
}
</script>

<style scoped>
video {
  height: 40%;
  min-height: 55%;
  width: 100%;
}
</style>
