<template>
  <v-app>
    <v-app-bar
        app
        dark
        @click="newDownload()"
        class="d-flex align-center justify-center light-blue darken-1 elevation-0"
    >
      <div>
        <h2>Firm Word</h2>
      </div>
    </v-app-bar>
    <v-main>
<!--      <div class="words-container" >-->
<!--        <canvas class="words"></canvas>-->
<!--      </div>-->
      <div class="d-flex flex-column justify-space-between app-container-view">
        <div class="blue lighten-5" style="width: 100%; height: 65%;">
          <video id="video" autoplay muted="true" class="main-video"/>
        </div>
        <CountDownTimer v-if="this.isRecording" v-on:stopVideo="stopStream($event)"/>
        <TranslateCard v-bind:isChinese="isRecording" v-on:quoteUpdate="updateQuote($event)"/>
        <StartStopButton class="scroll-btn" v-on:updateRecording="updateIsRecording($event)"/>
      </div>

      <v-dialog
          v-model="dialog"
          transition="dialog-bottom-transition"
          width="500"
      >
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            Firm Word
          </v-card-title>

          <v-card-text class="mt-4">
            Welcome to Firm Word. The app where you try to speak chinese, but fail terribly.
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="primary"
                text
                @click="dialog = false;">
              GO
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <VideoPlayBack v-bind:showPlay="showPlay"
                     v-bind:showUrl="showUrl"
                     v-bind:englishTranny="englishTranny"
                     v-bind:updatedQuote="updatedQuote"
                     v-bind:chunks="recordedChunks"/>

    </v-main>
  </v-app>
</template>

<script>
import TranslateCard from './components/TranslateCard';
import StartStopButton from './components/StartStopButton';
import CountDownTimer from "./components/CountDownTimer";
import VideoPlayBack from "./components/VideoPlayBack";
import translate from "translate";

export default {
  name: 'App',

  components: {
    VideoPlayBack,
    CountDownTimer,
    StartStopButton,
    TranslateCard,
  },

  data: () => ({
    isRecording: false,
    constraints: {"video": {width: {max: window.innerWidth}}, "audio": true},
    theStream: {},
    streamText: {},
    recorder: {},
    recordedChunks: [],
    showPlay: false,
    updatedQuote: '',
    showUrl: '',
    chineseWords: '',
    englishTranny: '',
    dialog: true,
    speechRecognizer: {},
  }),

  mounted() {
    const btn = document.querySelector('.scroll-btn')
    btn.scroll(0, 1000);
    this.openVideo();

  },


  methods: {
    openFullScreen() {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        document.body.requestFullscreen();
      }
    },
    updateQuote(event) {
      this.updatedQuote = event;
    },
    updateIsRecording(event) {
      if (event) {
        this.isRecording = event;
        this.startConverting();
        this.recordVideo();
      } else {
        this.download();
      }
    },
    stopStream(event) {
      this.isRecording = event;
      this.download();
    },
    openVideo() {
      navigator.mediaDevices.getUserMedia(this.constraints)
          .then(this.gotMedia)
          .catch(e => {
            console.error('getUserMedia() failed: ' + e);
          });
    },
    gotMedia(stream) {
      this.theStream = stream;
      var video = document.querySelector('.main-video');
      video.srcObject = stream;
      // this.drawToCanvas()
      // const c1 = document.querySelector('.words');
      // this.streamText = c1.captureStream(25);
    },

//     drawToCanvas() {
//       const video = document.querySelector('.main-video');
//       const c1 = document.querySelector('.words');
//       // eslint-disable-next-line no-unused-vars
//
//       // eslint-disable-next-line no-unused-vars
//       const ctx = c1.getContext('2d');
//       const ctx2 = c1.getContext('2d');
//
//       // draw the current frame of localVideo onto the canvas,
//       // starting at 0, 0 (top-left corner) and covering its full
//       // width and heigth
//       ctx.drawImage(video, 0, 0, window.innerWidth, (window.innerHeight / 100 * 45));
//       ctx2.beginPath();
//       ctx2.fillStyle = "#584fa8";
//       ctx2.rect(0, (window.innerHeight / 100 * 17), window.innerWidth, (window.innerHeight / 100 * 7)); // x, y of top-left, width, height
//       ctx2.fill();
//       ctx2.font = "13px Verdana";
// // Create gradient
//       var gradient = ctx.createLinearGradient(0, 0, 100, 10);
//       gradient.addColorStop("0.1", "red");
//       gradient.addColorStop("0.3", "orange");
//       gradient.addColorStop("0.2", "pink");
// // Fill with gradient
//       ctx2.fillStyle = gradient;
//       const line = this.getLines(ctx2, this.updatedQuote, (window.innerWidth- 50))
//       if(line.length === 1){
//         ctx2.fillText(line[0], 4, (window.innerHeight / 100 * 20));
//       } else {
//         ctx2.fillText(line[0], 4, (window.innerHeight / 100 * 20));
//         ctx2.fillText(line[1], 4, (window.innerHeight / 100 * 22));
//       }
//
//       //repeat this every time a new frame becomes available using
//       //the browser's build-in requestAnimationFrame method
//       requestAnimationFrame(this.drawToCanvas);
//     },

    getLines(ctx, text, maxWidth) {
      var words = text.split(" ");
      var lines = [];
      var currentLine = words[0];

      for (var i = 1; i < words.length; i++) {
        var word = words[i];
        var width = ctx.measureText(currentLine + " " + word).width;
        if (width < maxWidth) {
          currentLine += " " + word;
        } else {
          lines.push(currentLine);
          currentLine = word;
        }
      }
      lines.push(currentLine);
      return lines
    },

    recordVideo() {
      try {
        this.recorder = new MediaRecorder(this.theStream, {mimeType: "video/webm"});
      } catch (e) {
        console.error('Exception while creating MediaRecorder: ' + e);
        return;
      }
      this.recorder.ondataavailable =
          (event) => {
            this.recordedChunks.push(event.data);
          };
      this.recorder.start(100);
    },

    download() {
      this.speechRecognizer.stop();
      this.recorder.stop();
      this.theStream.getTracks().forEach(track => {
        track.stop();
      });
      var blob = new Blob(this.recordedChunks, {type: "video/webm"});
      var url = URL.createObjectURL(blob);
      this.showUrl = url;
    },

    startConverting() {
      // eslint-disable-next-line no-undef
      this.speechRecognizer = new webkitSpeechRecognition()
      this.speechRecognizer.continuous = true;
      this.speechRecognizer.interimResults = true;
      // speechRecognizer.lang = 'zh-CN';
      this.speechRecognizer.lang = 'zh-CN';
      this.speechRecognizer.start();
      this.listEnd();
      this.speechRecognizer.onerror = function (event) {
        console.log("can't recognise stuff", event)
      };
    },
    listEnd() {
      // eslint-disable-next-line no-unused-vars
      var finalTranscripts = '';
      this.speechRecognizer.onresult = (event) => {
        // eslint-disable-next-line no-unused-vars
        let interimTranscripts = '';
        for (var i = event.resultIndex; i < event.results.length; i++) {
          var transcript = event.results[i][0].transcript;
          transcript.replace("\n", "<br>");
          if (event.results[i].isFinal) {
            finalTranscripts += transcript;
            this.chineseWords += finalTranscripts
            this.convertChinese(this.chineseWords)
            this.showPlay = true;
          } else {
            interimTranscripts += transcript;
          }
        }
      };
    },
    newDownload() {
        // const combined = Object.assign(this.recordedChunks, this.chunks)
        // this.streamText.getTracks().forEach(track => {
        //   track.stop();
        // });
        var blob = new Blob(this.streamText, {type: "video/webm"});
        var url = URL.createObjectURL(blob);
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        a.href = url;
        a.download = 'test.webm';
        a.click();
        // setTimeout() here is needed for Firefox.
        setTimeout(function () {
          URL.revokeObjectURL(url);
        }, 100);
      },
    async convertChinese(speechToCon) {
      // eslint-disable-next-line no-undef
      this.englishTranny = await translate(speechToCon, {
        from: "chinese",
        to: "english",
        engine: "google",
        key: process.env.VUE_APP_GOOGLE_API
      });
    },
  },

};
</script>
<style scoped>
.words {
  position: absolute;
  z-index: 999999999;
  top: 5px;
  width: 100%;
  height: 45%;
}
.words-container {
  display: none;
  height: 65%;
}
.app-container-view {
  height: 100%;
}

video {
  height: 100%;
  min-height: 65%;
  width: 100%;
}
</style>

